body {
    margin: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.data {
    height: 200px;
}

.title_price {
    font-size: 2.5rem;
    font-family: 'Montserrat:wght@400', sans-serif;
    letter-spacing: 3px;
}

.sub_title {
    font-size: 1.5rem;
    font-family: 'Montserrat:wght@400', sans-serif;
    letter-spacing: 3px;
}

.sub_heading {
    font-size: 1.5rem;
    font-family: 'Montserrat:wght@300', sans-serif;
    letter-spacing: 3px;
}

.sub_heading_sm {
    font-size: 1.25rem;
    font-family: 'Montserrat:wght@300', sans-serif;
    letter-spacing: 3px;
    /* word-spacing: .75rem; */
}

.border-primary {
    border-width: thick;
}

.border {
    background-color: #D1D0CE;
}

.pointer {
    cursor: pointer;
}